.login {
  height: 100%;
  width: 100%;
  display: flex;
}

.login-form {
  max-width: 500px;
  width: 100%;
  padding: 40px;
  background: #fff;
  box-shadow: 0 10px 34px -15px rgb(0 0 0 / 24%);
  border-radius: 5px;
  margin: auto;
}

.ligin-form--header {
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}

.login-form--error {
  color: #b53f3f;
  margin-bottom: 20px;
}

.login-form--button {
  width: 100%;
  margin-bottom: 20px;
}

.login-form--link {
  border-bottom: 1px solid #e79686;
  margin-left: 5px;
}